<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.demo.dao.ActivityDao">
    <select id="selectActivityById" resultType="com.demo.entity.Activity">
       select id,
              name,
              start_time,
              end_time,
              high_probability,
              medium_probability,
              low_probability,
              status,
              created_time,
              updated_time,
              version
       from activity
       where id = #{id}
    </select>
</mapper>