<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.demo.dao.ActivityPrizeDao">

    <select id="selectByActivityId" resultType="com.demo.entity.ActivityPrize">
        select id, activity_id, name, prize_num, prize_id, probability, lucky_draw_prize,created_time, updated_time, version
        from activity_prize
        where activity_id = #{activityId}
    </select>
</mapper>