<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.demo.dao.UserLuckDrawNumberDao">
    <select id="selectByUserIdAndActivityId" resultType="com.demo.entity.UserLuckDrawNumber">
        select id, user_id,activity_id, luck_draw_number, luck_draw_date, created_time, updated_time, version
        from user_luck_draw_number
        where user_id = #{userId}
            and activity_id = #{activityId}
            <if test="luckDrawDate != null">
                and luck_draw_date = date_format(#{luckDrawDate},'%Y-%m-%d')
            </if>
    </select>

    <update id="updateByUserIdAndActivityId" parameterType="com.demo.entity.UserLuckDrawNumber">
        update user_luck_draw_number
        set updated_time = #{updatedTime},
            luck_draw_number = #{luckDrawNumber},
            luck_draw_date = #{luckDrawDate}
        where user_id = #{userId}
            and activity_id = #{activityId}
    </update>

    <insert id="add" parameterType="com.demo.entity.UserLuckDrawNumber">
        insert into user_luck_draw_number (user_id, activity_id, luck_draw_number, luck_draw_date, created_time,
                                           updated_time, version)
            VALUE (#{userId}, #{activityId}, #{luckDrawNumber}, #{luckDrawDate}, #{createdTime}, #{updatedTime}, #{version});
    </insert>
</mapper>